

<h1><%= @course.name %></h1>


<%if @lesson%>


<h1><%= @course.name %>/<%= @lesson.name %></h1>

  <p><%= @lesson.content %></p>

  <%@lesson.sections.each do |section|%>
      <h1><%= link_to section.name, lesson_section_path(@lesson, section)%></h1>
  <%end%>



  <p><%= link_to "Edit", edit_course_lesson_path(@course, @lesson) %></p>

  <p><%= @lesson.number %>/<%= link_to "previous", course_lesson_path(@course, @lesson, previous: 'true') %>/<%= link_to "next", course_lesson_path(@course, @lesson, next: 'true') %></p>

  <p>
    <%= link_to "Add Section", new_lesson_section_path(@lesson, @section) %>
  </p>

<%else%>

  <h1>This lesson is not ready yet</h1>


<%end%>
<p><%= link_to "Return to lessons", course_path(@course) %></p>
